- form_for @project, :html => { :multipart => true }  do |f|
  = f.error_messages
  %fieldset
    .field.header
      %span.project
      %h3 Новый проект
      %h4 Твой проект увидит вся страна!
    .field
      = f.label :name
      = f.text_field :name
      .field_text
        %h4
          Имя проекта
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field
      = f.label :site_url
      = f.text_field :site_url
      .field_text
        %h4
          Сcылка на проект
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field
      = f.label :description
      -# = textile_editor :description, f
      = f.text_area :description
      .field_text
        %h4
          Описание проекта
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field
      = f.label :logo
      = f.file_field :logo
      .field_text
        %h4
          Логотип проекта
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field.bottom

  %fieldset
    .field.header
      %span.company
      %h3 Компания
      %h4 Твой проект увидит вся страна!
    .field
      = f.label :company
      = f.text_field :company
      .field_text
        %h4
          Имя компании
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field
      = f.label :company_url
      = f.text_field :company_url
      .field_text
        %h4
          Сайт компании
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field
      = f.label :email
      = f.text_field :email
      .field_text
        %h4
          Электропочта компании
        %p Duis blandit, lacus accumsan dictum placerat, orci risus tempor arcu, vel bibendum quam ante id dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed odio velit, feugiat nec laoreet laoreet, consectetur mattis sem. Vestibulum consequat pulvinar enim ut iaculis. Aenean dolor dui, sollicitudin eget bibendum sit amet, hendrerit malesuada augue.
    .field.bottom

  %fieldset
    .field.header
      %span.human
      %h3 А ты человек?
      %h4 Твой проект увидит вся страна!
    =recaptcha_tags :display=>{:theme=>'custom'}
    :erb
      <div id="recaptcha_container">
        <div class="field">
          <label for="recaptcha_response_field">Введи то что на картинке</label>
          <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="text" />
          <div id="recaptcha_image"></div>
          <div class="recaptcha_btns">
            <a class="re_reload" href="javascript:Recaptcha.switch_type('image');">Reload</a>
            <a class="re_audio" href="javascript:Recaptcha.switch_type('audio');">Audio</a>
          </div>
        <div class="clear"></div>
        </div>
      </div>

      <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LcKZgoAAAAAAAb9nBVEVQNpGrCZTZYIYN7xW8LF">
      </script>

      <noscript>
          <iframe src="http://api.recaptcha.net/noscript?k=6LcKZgoAAAAAAAb9nBVEVQNpGrCZTZYIYN7xW8LF" height="300" width="500" frameborder="0"></iframe>
          <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
          <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
      </noscript>
    .field.bottom

  %fieldset
    .field.button
      = f.submit "Добавить", :class => "create_project_btn"
      = link_to "Отмена", projects_path, :class => "cancel_link"
      .clear
  = textile_editor_initialize
