!!! Strict
%html{html_attrs}
  %head
    %title
      = h(yield(:title) || "DEV2010 — все новые проекты рунета в 2010 году. Машина времени для рарзработчиков.")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    =stylesheet_link_tag 'reset', '960', 'application'
    =javascript_include_tag :all
    = auto_discovery_link_tag(:rss, rss_path)
    = yield(:head)
  %body
    #header
      .container_12
        .grid_4.logo= link_to "logo", root_path
        .grid_8.top_menu
          %ul
            %li= link_to_unless_current "Проекты", projects_path, :class => "all_projects"
            %li= link_to "Блог", "http://blog.dev2010.ru", :class => "blog"
            %li= link_to "Твиттер", "http://twitter.com/dev2010ru", :class => "twitter"
            %li= link_to_unless_current "Добавить свой проект", {:controller => "projects", :action => "new"}, :class => "add_project"
    #top_content
      .container_12
        .grid_12
          .grid_4
            %h3.whoishere
              = @allprojects.size.to_s
          .grid_4
            %h2.wtf Зачем
            %p Если вы участвуете в стартапе, готовитесь начать писать блог, или ваша команда в 2010&nbsp;году собирается запустить новый Гугл — добавте ваш проект в каталог DEV2010.
          .grid_4
            %h2.forwho Кому
            %p
              Совершенно не важна сложность вашего проекта, его тематика, не важен размер команды — заявите о себе!
              %a{:href => "http://blog.dev2010.ru/post/327046304"}
                Подробнее, для чего DEV2010 может быть полезен вам.
    #content
      .container_12
        .grid_8.main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          - if show_title?
            %h1=h yield(:title)
          = yield
        .grid_4.side_bar
          = yield :side_bar
    #footer
      .container_12
        .grid_12
          © 2010 DEV2010
