!!! Strict
%html{html_attrs}
  %head
    %title
      = h(yield(:title) || "Проект dev2010 — все новые проекты рунета в 2010 году")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    =stylesheet_link_tag 'reset', '960', 'application'
    =javascript_include_tag :all
    = auto_discovery_link_tag(:rss, rss_path)
    = yield(:head)
  %body
    #header
      .container_12
        .grid_4.logo= link_to "logo", root_path
        .grid_8.top_menu
          %ul
            %li=link_to_unless_current "Проекты", projects_path
            %li=link_to "Блог", "http://blog.dev2010.ru"
            %li=link_to "Твиттер", "http://twitter.com/dev2010ru"
            %li=link_to_unless_current "Добавить свой проект", {:controller => "projects", :action => "new"}, :class => "add_project"
    #top_content
      .container_12
        .grid_8
          %h1 Если вы разработываете , готовитесь запустить блог, или ваша команда в 2010&nbsp;году собирается запустить новый Гугл, добавте ваш проект в каталог DEV2010.
          %a{:href => "http://blog.dev2010.ru/post/327046304"}
            Для чего DEV2010 может быть полезен вам.
          .hr
        .grid_4
          .grid_2
            %p
              = @allprojects.size.to_s
              проектов
          .grid_2
            %p
              = (365 - Time.now.to_datetime.day).to_s
              осталось дней
    #content
      .container_12
        .grid_8.main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          - if show_title?
            %h1=h yield(:title)
          = yield
        .grid_4.side_bar
          %ul.banners
            %li= image_tag "/images/banner_240_1.gif"
        .hr
    #footer
      .container_12
        .grid_12
          © 2010 DEV2010
